@import url(./__logo-zone/resources__logo-zone.css);
@import url(./__logo/resources__logo.css);
@import url(./__logo/_type/resources__logo_type_arzamas.css);
@import url(./__logo/_type/resources__logo_type_n1.css);
@import url(./__logo/_type/resources__logo_type_polka.css);
@import url(./__logo/_type/resources__logo_type_strelka.css);

.resources {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 217px;
}
