@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);

.video {
  padding-top: 100px;
  margin: 0 auto;
  max-height: 450px;
  /* Мне показалось, что это самый тривиальный способ отобразить видео поверх соседнего блока, но я не уверен, что он самый грамотный,
  если вас не затруднит, прокомментируйте этот момент пожалуйста =) */
}
