.kaufman__triangle {
  background-image: url(../../../images/triangle.svg);
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
}
